---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
           <span style="font-size: 30px;">赵健坤</span>
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            <!-- {%- if page.profile.address %} -->
            <div class="address">
              <!-- {{ page.profile.address }} -->
              <a href="mailto:%32%30%31%30%35%33%35@%6D%61%69%6C.%6E%61%6E%6B%61%69.%65%64%75.%63%6E" title="email_1">
                <i class="fas fa-envelope"></i>
                2010535@mail.nankai.edu.cn
              </a>
              <a href="https://github.com/Ching-Yee-Chan" title="GitHub">
                <i class="fab fa-github"></i>
                Ching-Yee-Chan
              </a>
              <a href="https://www.linkedin.com/in/%E5%81%A5%E5%9D%A4-%E8%B5%B5-765050253/" title="LinkedIn">
                <i class="fab fa-linkedin"></i>
                赵健坤
              </a>
            </div>
            <!-- {%- endif %} -->
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>
              
            </div>
          {%- endif %}
        </article>

</div>
